<div class="container">
  <header class="jumbotron">
    <p>Výzva Erasmus+ mobilita {{ mobility }}</p>
  </header>
  <div class="card card-container">
    <form
      class="container"
      name="application-form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <!-- Page 0 contact information and languages-->
      <div class="form-group" *ngIf="applicationPage == 0">
        <label for="firstname" class="control-label">First name</label>
        <input
          type="text"
          class="form-control"
          name="firstname"
          [(ngModel)]="form.firstname"
          required
          #firstname="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="firstname.errors && f.submitted"
        >
          First name is required!
        </div>

        <label for="lastname" class="control-label">Family name</label>
        <input
          type="text"
          class="form-control"
          name="lastname"
          [(ngModel)]="form.lastname"
          required
          #lastname="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="lastname.errors && f.submitted"
        >
          Family name is required
        </div>

        <label for="address" class="control-label">Address</label>
        <input
          type="text"
          class="form-control"
          name="address"
          [(ngModel)]="form.address"
          required
          #address="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="address.errors && f.submitted"
        >
          Address is required
        </div>

        <label for="telnumber" class="control-label">Telephone number</label>
        <input
          type="tel"
          class="form-control"
          name="telnumber"
          [(ngModel)]="form.telnumber"
          required
          #telnumber="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="telnumber.errors && f.submitted"
        >
          Telephone number is required
        </div>

        <label for="dateofbirth" class="control-label">Date of birth</label>
        <input
          type="date"
          class="form-control"
          name="dateofbirth"
          [(ngModel)]="form.dateofbirth"
          required
          #dateofbirth="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="dateofbirth.errors && f.submitted"
        >
          Date of birth is required
        </div>

        <label for="placeofbirth" class="control-label">Place of birth</label>
        <input
          type="text"
          class="form-control"
          name="placeofbirth"
          [(ngModel)]="form.placeofbirth"
          required
          #placeofbirth="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="placeofbirth.errors && f.submitted"
        >
          Place of birth is required
        </div>

        <div class="form-group">
          <label class="control-label">Sex</label>
          <div class="form-check">
            <input
              type="radio"
              class="form-check-input"
              name="sex"
              id="male"
              [(ngModel)]="form.sex"
              required
              #sex="ngModel"
              [value]="Sex[0]"
            />
            <label class="form-check-label" for="male">Male</label>
          </div>
          <div class="form-check">
            <input
              type="radio"
              class="form-check-input"
              name="sex"
              id="female"
              [(ngModel)]="form.sex"
              required
              #sex="ngModel"
              [value]="Sex[1]"
            />
            <label class="form-check-label" for="female">Female </label>
          </div>
        </div>

        <label for="nationality" class="control-label">Nationality</label>
        <input
          type="text"
          class="form-control"
          name="nationality"
          [(ngModel)]="form.nationality"
          required
          #nationality="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="nationality.errors && f.submitted"
        >
          Nationality is required
        </div>

        <label for="mothertongue" class="control-label"
          >Mother tongue (e.g. Slovak)</label
        >
        <input
          type="text"
          class="form-control"
          name="mothertongue"
          [(ngModel)]="form.mothertongue"
          required
          minlength="3"
          #mothertongue="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="mothertongue.errors && f.submitted"
        >
          Mother tongue is required
        </div>
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="mothertongue.errors?.minlength"
        >
          Shorten language name is 3 letters long. Please provide valid
          language.
        </div>
      </div>
      <!--Languages -->
      <form [formGroup]="languagesTableForm" *ngIf="applicationPage == 0">
        <label>Other languages (e.g. English)</label>
        <p class="control-label">At least one foregain language is required.</p>
        <table class="form-group form-control-sm">
          <tr>
            <th>Language</th>
            <th>Level of competence</th>
          </tr>
          <tbody>
            <ng-container formArrayName="Languages">
              <ng-container
                *ngFor="let languages of Languages.controls; let i = index"
              >
                <tr [formGroupName]="i">
                  <td>
                    <div *ngIf="i == 0; then requiredInput; else input"></div>
                    <ng-template #requiredInput>
                      <input
                        type="textarea"
                        class="form-control form-control-sm"
                        id="Language"
                        formControlName="Language"
                        minlength="3"
                        required
                      />
                    </ng-template>
                    <ng-template #input>
                      <input
                        type="textarea"
                        class="form-control form-control-sm"
                        id="Language"
                        formControlName="Language"
                        minlength="3"
                        #input
                    /></ng-template>
                  </td>
                  <td>
                    <div
                      *ngIf="i == 0; then requiredSelectInput; else selectInput"
                    ></div>
                    <ng-template #requiredSelectInput>
                      <select
                        class="form-control form-control-sm"
                        id="LevelOfCompetance "
                        formControlName="LevelOfCompetance"
                        required
                      >
                        <option
                          *ngFor="let level of levels"
                          [ngValue]="level.name"
                        >
                          {{ level.name }}
                        </option>
                      </select>
                    </ng-template>
                    <ng-template #selectInput>
                      <select
                        class="form-control form-control-sm"
                        id="LevelOfCompetance "
                        formControlName="LevelOfCompetance"
                      >
                        <option
                          *ngFor="let level of levels"
                          [ngValue]="level.name"
                        >
                          {{ level.name }}
                        </option>
                      </select>
                    </ng-template>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
      </form>
      <!--End of page 0-->
      <!--Page 1 Universities and previous studies abroad-->
      <form [formGroup]="universitiesTableForm" *ngIf="applicationPage == 1">
        <label class="control-label"
          >RECEIVING INSTITUTIONS (in order of preference):</label
        >
        <table class="form-group form-control-sm">
          <tr>
            <th>Institution</th>
            <th>Period ofstudy</th>
            <th></th>
            <th>N° of expected ECTS credits</th>
          </tr>
          <tr>
            <th></th>
            <th>From</th>
            <th>To</th>
            <th></th>
          </tr>
          <tbody>
            <ng-container formArrayName="Universities">
              <ng-container
                *ngFor="let university of Universities.controls; let i = index"
              >
                <tr [formGroupName]="i">
                  <td>
                    <select
                      class="form-control form-control-sm"
                      id="University"
                      formControlName="University"
                      required
                    >
                      <option
                        *ngFor="let uni of universitiesList"
                        [ngValue]="uni"
                      >
                        {{ uni.name }} ({{ uni.country }})
                      </option>
                    </select>
                  </td>
                  <td>
                    <input
                      type="date"
                      class="form-control form-control-sm"
                      id="StudyPeriodFrom"
                      formControlName="StudyPeriodFrom"
                      required
                    />
                  </td>
                  <td>
                    <input
                      type="date"
                      class="form-control form-control-sm"
                      id="StudyPeriodTo"
                      formControlName="StudyPeriodTo"
                      required
                    />
                  </td>
                  <td>
                    <input
                      type="number"
                      class="form-control form-control-sm"
                      id="NumberOfCredits"
                      formControlName="NumberOfCredits"
                      [min]="0"
                      required
                    />
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </tbody>
        </table>
      </form>
      <form name="application-form" #prevStudyForm="ngForm" novalidate>
        <div class="form-group" *ngIf="applicationPage == 1">
          <label class="control-label"
            >Have you already been studying abroad within the Erasmus programme
            in the study cycle of the mobility?</label
          >
          <div class="form-check">
            <input
              type="radio"
              class="form-check-input"
              name="prevStudyMobility"
              id="prevStudyYes"
              [(ngModel)]="form.prevStudy"
              required
              #prevStudy="ngModel"
              [value]="true"
            />
            <label class="form-check-label" for="prevStudyYes">Yes </label>
          </div>
          <div class="form-check">
            <input
              type="radio"
              class="form-check-input"
              name="prevStudyMobility"
              id="prevStudyNo"
              [(ngModel)]="form.prevStudy"
              required
              #prevStudy="ngModel"
              [value]="false"
            />
            <label class="form-check-label" for="prevStudyNo">No </label>
          </div>
        </div>
        <div
          class="form-group row"
          *ngIf="applicationPage == 1 && form.prevStudy"
        >
          <label for="prevStudyFrom" class="control-label col-sm">From:</label>
          <input
            type="date"
            class="form-control form-control-sm col-md-4"
            name="prevStudyFrom"
            #prevStudyFrom="ngModel"
            required
            [(ngModel)]="form.prevStudyFrom"
          />
          <label for="prevStudyTo" class="control-label col-sm">To:</label>
          <input
            type="date"
            class="form-control form-control-sm col-md-4"
            name="prevStudyTo"
            #prevStudyTo="ngModel"
            required
            [(ngModel)]="form.prevStudyTo"
          />
        </div>

        <!--prevTrainneship-->
        <div class="form-group" *ngIf="applicationPage == 1">
          <label class="control-label"
            >Have you already been attending an Erasmus traineeship abroad in
            the study cycle of the mobility?</label
          >
          <div class="form-check">
            <input
              type="radio"
              class="form-check-input"
              name="prevTraineeMobility"
              id="prevTraineeYes"
              [(ngModel)]="form.prevTrainee"
              required
              #prevTrainee="ngModel"
              [value]="true"
            />
            <label class="form-check-label" for="prevTraineeYes">Yes </label>
          </div>
          <div class="form-check">
            <input
              type="radio"
              class="form-check-input"
              name="prevTrainee"
              id="prevTraineeNo"
              [(ngModel)]="form.prevTrainee"
              required
              #prevTrainee="ngModel"
              [value]="false"
            />
            <label class="form-check-label" for="prevTraineeNo">No </label>
          </div>
        </div>
        <div
          class="form-group row"
          *ngIf="applicationPage == 1 && form.prevTrainee"
        >
          <label for="prevTraineeFrom" class="control-label col-sm"
            >From:</label
          >
          <input
            type="date"
            class="form-control form-control-sm col-md-4"
            name="prevTraineeFrom"
            #prevTraineeFrom="ngModel"
            required
            [(ngModel)]="form.prevTraineeFrom"
          />
          <label for="prevTraineeTo" class="control-label col-sm">To:</label>
          <input
            type="date"
            class="form-control form-control-sm col-md-4"
            name="prevTraineeTo"
            #prevTraineeTo="ngModel"
            required
            [(ngModel)]="form.prevTraineeTo"
          />
        </div>
      </form>
      <!--End of page 1-->
      <!--Page 2 attachments-->
      <form name="application-form" #attachments="ngForm" novalidate>
        <div class="mb-3" *ngIf="applicationPage == 2">
          <label for="cv" class="control-label">Curriculum vitae</label>
          <input
            class="form-control form-control-file"
            [(ngModel)]="form.cv"
            required
            #cv="ngModel"
            name="cv"
            type="file"
            id="cv"
          />
        </div>
        <div class="form-group" *ngIf="applicationPage == 2">
          <label for="coverLetter" class="control-label"
            >Cover letter in English language</label
          >
          <input
            class="form-control form-control-file"
            [(ngModel)]="form.coverLetter"
            required
            #coverLetter="ngModel"
            name="coverLetter"
            type="file"
            id="coberLetter"
          />
        </div>
        <div class="form-group" *ngIf="applicationPage == 2">
          <label for="languageCertificate" 
            >Language competence certificate</label
          >
          <input
            class="form-control form-control-file"
            type="file"
            [(ngModel)]="form.languageCertificate"
            #languageCertificate="ngModel"
            name="languageCertificate"
            id="languageCertificate"
          />
        </div>
      </form>

      <div class="form-group" *ngIf="applicationPage == 0">
        <button
          class="btn btn-primary btn-block"
          *ngIf="f.form.valid && languagesTableForm.valid"
          (click)="nextPage()"
        >
          Next page
        </button>
        <p
          *ngIf="!(f.form.valid && languagesTableForm.valid)"
          class="alert alert-danger"
        >
          Fill all required fields to continue
        </p>
      </div>
    </form>
    <div class="form-group" *ngIf="applicationPage == 1">
      <button
        class="btn btn-primary btn-block"
        *ngIf="universitiesTableForm.valid && prevStudyForm.valid"
        (click)="nextPage()"
      >
        Next page
      </button>
      <p
        *ngIf="!(universitiesTableForm.valid && prevStudyForm.valid)"
        class="alert alert-danger"
      >
        Fill all required fields to continue
      </p>
    </div>
    <button
      class="btn btn-primary btn-block"
      *ngIf="applicationPage > 0"
      (click)="prevPage()"
    >
      Previus page
    </button>
  </div>
</div>
