<div class="container">
    <header class="jumbotron">
      <p><strong>{{content?.firstname}} {{content?.lastname}}</strong></p>
    </header>
    <p>
      <strong>Address:</strong>
      {{content?.address}}
    </p>
    <p >
      <strong>Profile number:</strong>
      {{content?.profileNumber}}
    </p>
    <p >
      <strong>Telephone number:</strong>
      {{content?.telNumber}}
    </p>
    <p >
      <strong>Date of birth:</strong>
      {{content?.dateOfBirth.split(" ")[0]}}
    </p>
    <p >
      <strong>Place of birth:</strong>
      {{content?.placeOfBirth}}
    </p>
    <p >
      <strong>Nationality:</strong>
      {{content?.nationality}}
    </p>


  </div>
